width: 960
height: 540
remoteDependencies: [
  "https://www.gstatic.com/firebasejs/3.6.7/firebase.js"
]
dependencies:
  analytics: "distri/google-analytics:v0.1.0"
  model: "distri/model:master"
  postmaster: "distri/postmaster:master"
  ui: "STRd6/ui:master"
