*
  box-sizing: border-box

html, body
  height: 100%

body
  margin: 0
  overflow: hidden

chateau
  display: flex
  height: 100%
  position: relative

  > word-area
    display: block
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%

    > words
      border: 1px solid black
      border-radius: 4px
      background-color: white
      padding: 0.5em
      position: absolute
      display: inline-block

  > canvas
    flex: 0 0 auto
    margin: auto

  > rooms
    border-left: 1px solid gray
    height: 100%
    left: 100%
    padding: 1em
    position: absolute
    width: 200px

    &.show
      left: calc(100% - 200px)

    > room
      display: flex
      margin-bottom: 1em
      width: 200px

      > img
        border: 1px solid gray
        width: 82px
        height: 47px
        flex: 0 0 auto

      > span.name
        margin: auto

  > form
    position: absolute
    bottom: 0
