*
  box-sizing: border-box

html, body
  height: 100%

body
  display: flex
  margin: 0
  overflow: hidden

  > canvas
    flex: 0 0 auto
    margin: auto

  > rooms
    position: absolute
    right: 0
    > room
      display: block
      width: 200px
